
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('../icons/MaterialIcons-Regular.woff') format('woff'),
    url('../icons/MaterialIcons-Regular.ttf') format('truetype');
}

.mdl-layout__content {
    height: 100vh!important;
}

.mdl-layout__header {
    display: block!important;
}

.page-content {
    padding-top: 20px;
    margin: 0 auto!important;
    text-align: center;
    .mdl-button {
        margin: 10px 10px;
    }
}

.centered-text {
    text-align: center;
}

.error {
    background-color: #F08080;
}

.success {
    background-color: #80f0ba;
}

nav>a.active {
    background: #284b67;
}

.user-list-table {
    margin: 0 auto;
}
