
//Typography
$font-family-default: 'Roboto', sans-serif;

//Color
$transparent: 'transparent';
$white: #ffffff;
$dirtyWhite: #f3f3f3;
$gray: #767777;
$darkGray: #424242;

$primary500: rgb(63,81,181);
