{
    "node": {
        "host": "127.0.0.1",
        "port": 1337,
        "env": "development"
    },
    "renderer": {
        "app_name": "Isomorphic Redux Trial",
        "host": "http://isotrial.org"
    },
    "frontend": {
        "app_name": "Isomorphic Redux Trial",
        "host": "http://local.isotrial.org"
    },
    "database": {
        "mongodb": {
            "host": "127.0.0.1",
            "port": 27017,
            "database": "redux-isomorphic",
            "authdb": "redux-isomorphic",
            "user": "kev",
            "pass": "chickenburritome"
        }
    },
    "security": {
        "token_life": {
            "access_token": 360000,
            "refresh_token": 720000
        }
    }
}
